.box {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transform-origin: top;
  transition: height 3s ease-out, opacity 3s ease-out, transform 3s ease-out;
}

.show {
  opacity: 1;
  height: auto;
  transform: scaleY(1);
}

.hide {
  opacity: 0;
  height: 0;
  transform: scaleY(0);
}
